*,
:after,
:before {
    box-sizing: inherit;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 500vh;
    line-height: 1.618;
    font-family: "Helvetica Neue";
    position: relative;
    /* background-color: #f6f6f7; */
    scroll-behavior: smooth; 
}

nav {
    position: fixed;
    width: 100%;
    margin: 10px;
    z-index: 5;

}


ul {
    position: absolute;
    top: 10%;
    display: inline-block;
    right: 10%;
    list-style-type: none;
    display: flex;
}

.link {
    text-decoration: none;
    color: black;
    padding: 3px 1.2vw;
    position: relative;
    transition: 0.2s all linear;
}

.link::after {
    height: 100%;
    content: "";
    position: absolute;
    right: 0.7rem;
    bottom: 0;
    left: 0.7rem;
    border-bottom: 1px solid black;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    transform-origin: center right;
    z-index: 3;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: center left;
    z-index: 3;
}

/* main */


#logo {
    display: inline-block;
    background-image: url("https://i.imgur.com/LveC27D.png");
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
}

*,
:after,
:before {
    box-sizing: inherit;
}


/* main */
main {
    height: 100%;
    width: 100%;
    display: flex;

}

/* input */
html,
body {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Lato", Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
    color: #666;
}


h2 {
    text-align: center;
    color: #2079df;
    font-size: 28px;
    float: left;
    width: 100%;
    margin: 30px 0;
    position: relative;
    line-height: 58px;
    font-weight: 400;
}

h2:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 2px;
    background-color: #2079df;
    margin-left: -50px;
}

/*= Reset CSS End
/* input */




:focus {
    outline: none;
}

/* necessary to give position: relative to parent. */
input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;

}


.effect-16,
.effect-17,
.effect-18 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.effect-16:focus~.focus-border,
.has-content.effect-16~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.effect-16~label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect-16:focus~label,
.has-content.effect-16~label {
    top: -16px;
    font-size: 12px;
    color: #3399FF;
    transition: 0.3s;
}

.effect-17~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.effect-17:focus~.focus-border,
.has-content.effect-17~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.effect-17~label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect-17:focus~label,
.has-content.effect-17~label {
    top: -16px;
    font-size: 12px;
    color: #3399FF;
    transition: 0.3s;
}
/* left */
.left {
    position: relative;
    top: 150px;
    flex: 5
}
/* 資產現況 */
.asset {
    margin-bottom: 100px;
}
.title {  
    display: block;
    margin-left: 150px;
    font-size: 80px;
}
.block {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 160px;
}

.input {
    margin-right: 10vh;
}
.assetNowPrincipal {
    width: 150px;
    flex:5;
}
.assetNowDeposit {
    width: 150px;
    flex:5;
}

/* 預期未來生活 */
.assetFuture {
    position: relative;
}
/* 圖表 */
.chart{
    position: fixed;
    top: 150px;
    left: 50%;
    flex: 5
}

/* input range slider */
input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    margin: 10.8px 0;
    margin-left: 150px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(120, 200, 189, 0.58), 0px 0px 1px rgba(138, 207, 198, 0.58);
    background: #78c8bd;
    border-radius: 1.3px;
    border: 0.2px solid #78c8bd;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
    border: 1px solid #548c84;
    height: 30px;
    width: 10px;
    border-radius: 2px;
    background: #548c84;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8ed1c8;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(120, 200, 189, 0.58), 0px 0px 1px rgba(138, 207, 198, 0.58);
    background: #78c8bd;
    border-radius: 1.3px;
    border: 0.2px solid #78c8bd;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
    border: 1px solid #548c84;
    height: 30px;
    width: 10px;
    border-radius: 2px;
    background: #548c84;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #62bfb2;
    border: 0.2px solid #78c8bd;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(120, 200, 189, 0.58), 0px 0px 1px rgba(138, 207, 198, 0.58);
  }
  input[type=range]::-ms-fill-upper {
    background: #78c8bd;
    border: 0.2px solid #78c8bd;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(120, 200, 189, 0.58), 0px 0px 1px rgba(138, 207, 198, 0.58);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
    border: 1px solid #548c84;
    height: 30px;
    width: 10px;
    border-radius: 2px;
    background: #548c84;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #78c8bd;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #8ed1c8;
  }
  
  /* input range slider-value */
  
  #value { 
    display: inline-block;
    text-align: center;
    width: 35px;
    color: white;
    background-color: #78c8bd;
    padding: 4px;
    border-radius: 2px
      
  }
  /* input range slider-level */
  #level {
      margin-top: 10px;
      margin-left: 150px;
      opacity: 0.8;
  }
